___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [ ]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [47]:
import pandas as pd
print (pd.__version__)
print(pd.describe_option())

1.2.4
compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
    (Deprecated, use `` instead.)
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
None

In [46]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print(df)

                                                Address    Lot AM or PM  \
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                      Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3                 7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM
...                                                 ...    ...      ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  92 XI       PM
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  41 JY       AM
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  74 Zh       AM
9998               0096 English Rest\nRoystad, IA 12457  74 cL       PM
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  64 Hr       AM

                                           Browser Info  \
0     Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1     Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2     Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4     Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
...                                                 ...
9995  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...
9996  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9997  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9998  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...
9999  Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...

                              Company       Credit Card CC Exp Date  \
0                     Martinez-Herman  6011929061123406       02/20
1     Fletcher, Richards and Whitaker  3337758169645356       11/18
2          Simpson, Williams and Pham      675957666125       08/19
3     Williams, Marshall and Buchanan  6011578504430710       02/24
4           Brown, Watson and Andrews  6011456623207998       10/25
...                               ...               ...         ...
9995                    Randall-Sloan   342945015358701       03/22
9996         Hale, Collins and Wilson   210033169205009       07/25
9997                     Anderson Ltd  6011539787356311       05/21
9998                         Cook Inc   180003348082930       11/17
9999                       Greene Inc  4139972901927273       02/19

      CC Security Code                  CC Provider  \
0                  900                 JCB 16 digit
1                  561                   Mastercard
2                  699                 JCB 16 digit
3                  384                     Discover
4                  678  Diners Club / Carte Blanche
...                ...                          ...
9995               838                 JCB 15 digit
9996               207                 JCB 16 digit
9997                 1                VISA 16 digit
9998               987             American Express
9999               302                 JCB 15 digit

                               Email                                     Job  \
0                  pdunlap@yahoo.com  Scientist, product/process development
1                 anthony41@reed.com                       Drilling engineer
2     amymiller@morales-harrison.com                Customer service manager
3        brent16@olson-robinson.info                       Drilling engineer
4        christopherwright@gmail.com                             Fine artist
...                              ...                                     ...
9995          iscott@wade-garner.com                              Printmaker
9996              mary85@hotmail.com                         Energy engineer
9997               tyler16@gmail.com                      Veterinary surgeon
9998         elizabethmoore@reid.net                Local government officer
9999           rachelford@vaughn.com                  Embryologist, clinical

           IP Address Language  Purchase Price
0     149.146.147.205       el           98.14
1        15.160.41.51       fr           70.73
2      132.207.160.22       de            0.95
3        30.250.74.19       es           78.04
4        24.140.33.94       es           77.82
...               ...      ...             ...
9995    29.73.197.114       it           82.21
9996   121.133.168.51       pt           25.63
9997    156.210.0.254       el           83.98
9998     55.78.26.143       es           38.84
9999  176.119.198.199       el           67.59

[10000 rows x 14 columns]

Скільки рядків і стовпців в наборі даних:

In [55]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Rows:', df.shape[0])
print('Columns:', len(df.columns))
print('Columns:', df.shape[1])

Rows: 10000
Columns: 14
Columns: 14

Перевірити, чи в наборі даних містяться порожні значення:

In [76]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Contains null:', df.isnull().values.any())
print('Contains null:', df.isnull().any().any())

Contains null: False
Contains null: False

Яка середня ціна закупки (Purchase Price):

In [78]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print(df['Purchase Price'].mean())

50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [92]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('English speaking users:', len(df[df['Language']=='en']))

English speaking users: 1098

Скільки людей має посаду «Lawyer»?

In [97]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Lawyer position users:', len(df[df['Job'].str.contains('Lawyer', case = False)]))

Lawyer position users: 30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [104]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Buying time:', df.groupby('AM or PM').size())
print('-----')
print('Buying time:', df.groupby('AM or PM')['AM or PM'].count())

Buying time: AM or PM
AM    4932
PM    5068
dtype: int64
-----
Buying time: AM or PM
AM    4932
PM    5068
Name: AM or PM, dtype: int64

Які 5 найпоширеніших назв вакансій?

In [134]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Top 5 Jobs:')
print(df.groupby('Job')['Job'].count().reset_index(name='count').sort_values(['count'], ascending=False).head(5).to_string(index=False))

Top 5 Jobs:
                              Job  count
    Interior and spatial designer     31
                           Lawyer     30
                Social researcher     28
              Designer, jewellery     27
Research officer, political party     27

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [142]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Purchase price:', df[df['Lot'].str.contains("90 Wt", case = False)]['Purchase Price'].to_string(index=False))

Purchase price: 75.1

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [146]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Email of [4926535242672853]:', df[df['Credit Card']==4926535242672853]['Email'].to_string(index=False))

Email of [4926535242672853]: bondellen@williams-garza.com

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [154]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Buyers with AE and purchase price > 100:', len(df[(df['CC Provider']=="American Express") & (df['Purchase Price']>100)]))

Buyers with AE and purchase price > 100: 0

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [157]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
print('Credit cards expiring in 2025:', len(df[df['CC Exp Date'].str.contains('/25')]))

Credit cards expiring in 2025: 1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [165]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
df['Domen'] = df.Email.apply(lambda x: x.split('@')[1])
print(df.groupby('Domen')['Domen'].count().reset_index(name='count').sort_values(['count'], ascending=False).head(5).to_string(index=False))

       Domen  count
 hotmail.com   1638
   yahoo.com   1616
   gmail.com   1605
   smith.com     42
williams.com     37

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [168]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
df['Browser'] = df['Browser Info'].apply(lambda x: x.split('/')[0])
pvt = df.pivot_table(index=['Job'], columns=['Browser'], values='Purchase Price', aggfunc='count')
pvt

Browser                           Mozilla  Opera
Job
Academic librarian                   10.0    1.0
Accommodation manager                11.0    6.0
Accountant, chartered                14.0    6.0
Accountant, chartered certified      13.0    5.0
Accountant, chartered management     10.0    5.0
...                                   ...    ...
Water quality scientist              13.0    5.0
Web designer                         13.0    7.0
Wellsite geologist                   22.0    2.0
Writer                                9.0    1.0
Youth worker                         15.0    3.0

[623 rows x 2 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [172]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
def actualPrice(price):
    if price > 50:
        return price * 1.2
    elif price > 100:
        return price * 1.1
    else:
        return price * 1.3
    
df['Actual price'] = df['Purchase Price'].apply(lambda x: actualPrice(x))
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,98.652
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,33.319
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,100.776
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,50.492
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,81.108

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [194]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
def actualPrice(price):
    if price > 50:
        return price * 1.2
    elif price > 100:
        return price * 1.1
    else:
        return price * 1.3
    
df['Actual price'] = df['Purchase Price'].apply(lambda x: actualPrice(x))
res = df.groupby('Language')['Actual price'].max().reset_index(name='price').sort_values(['price'], ascending=False)
res['Price rank'] = res['price'].rank(ascending=False)
res

  Language    price  Price rank
0       de  119.988         1.5
1       el  119.988         1.5
4       fr  119.904         3.5
5       it  119.904         3.5
3       es  119.880         5.5
6       pt  119.880         5.5
2       en  119.832         7.0
7       ru  119.700         8.0
8       zh  119.532         9.0

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [199]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
    
df = pd.get_dummies(df, columns = ['Language'])
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,...,Purchase Price,Language_de,Language_el,Language_en,Language_es,Language_fr,Language_it,Language_pt,Language_ru,Language_zh
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,...,98.14,0,1,0,0,0,0,0,0,0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,...,70.73,0,0,0,0,1,0,0,0,0
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,...,0.95,1,0,0,0,0,0,0,0,0
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,...,78.04,0,0,0,1,0,0,0,0,0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,...,77.82,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,...,82.21,0,0,0,0,0,1,0,0,0
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,...,25.63,0,0,0,0,0,0,1,0,0
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,...,83.98,0,1,0,0,0,0,0,0,0
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,...,38.84,0,0,0,1,0,0,0,0,0
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,...,67.59,0,1,0,0,0,0,0,0,0

Кінцевий набір даних збережіть у файл з розширенням csv.

In [204]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
    
df = pd.get_dummies(df, columns = ['Language'])
df.to_csv('Ecommerce Purchases.csv')